<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Professores</title>
</head>
<body>
    <h1 style="text-align: center;">Lista de Professores</h1>
    <h3 style="text-align: center;">
        <a href="/professores/criar">Novo Professor</a>
    </h3>
    <table border="1" align="center">
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>CPF</th>
            <th>Graduação</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="professor : ${professores}">
            <td th:text="${professor.nomeProfessor}">*</td>
            <td th:text="${professor.telefoneProfessor}">*</td>
            <td th:text="${professor.cpfProfessor}">*</td>
            <td th:text="${professor.graduacaoProfessor}">*</td>
            <td>
                <a th:href="@{/professores/editar/{id}(id=${professor.idProfessor})}">Editar</a>
                <a th:href="@{/professores/excluir/{id}(id=${professor.idProfessor})}">Excluir</a>
            </td>
        </tr>
    </table>
    
</body>
</html>