<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cursos</title>
</head>
<body>
    <h1 style="text-align: center;">Lista de Cursos</h1>
    <h3 style="text-align: center;">
        <a href="/cursos/criar">Novo Curso</a>
    </h3>
    <table border="1" align="center">
        <tr>
            <th>Nome</th>
            <th>Periodo</th>
            <th>Carga Horária</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="curso : ${cursos}">
            <td th:text="${curso.nomeCurso}">*</td>
            <td th:text="${curso.periodoCurso}">*</td>
            <td th:text="${curso.chCurso}">*</td>
            <td>
                <a th:href="@{/cursos/editar/{id}(id=${curso.idCurso})}">Editar</a>
                <a th:href="@{/cursos/excluir/{id}(id=${curso.idCurso})}">Excluir</a>
            </td>
        </tr>
    </table>
    
</body>
</html>