<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Disciplinas</title>
</head>
<body>
    <h1 style="text-align: center;">Cadastrar disciplina</h1>

    <form th:action="@{/disciplinas/salvar}" method="post" th:object="${disciplina}">
            
        <input type="hidden" th:field="*{idDisciplina}">
        
        <label>Nome:</label>
        <input type="text" th:field="*{nomeDisciplina}">
        <br />

        <label>Sigla:</label>
        <input type="text" th:field="*{siglaDisciplina}">
        <br />

        <label>Carga Horaria:</label>
        <input type="text" th:field="*{chDisciplina}">
        <br />
        
        <input type="submit" value="Salvar" />
    </form>
    
</body>
</html>