<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Disciplinas</title>
</head>
<body>
    <h1 style="text-align: center;">Lista de Disciplinas</h1>
    <h3 style="text-align: center;">
        <a href="/disciplinas/criar">Nova Disciplina</a>
    </h3>
    <table border="1" align="center">
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Carga Horaria</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="disciplina : ${disciplinas}">
            <td th:text="${disciplina.nomeDisciplina}">*</td>
            <td th:text="${disciplina.siglaDisciplina}">*</td>
            <td th:text="${disciplina.chDisciplina}">*</td>
            <td>
                <a th:href="@{/disciplinas/editar/{id}(id=${disciplina.idDisciplina})}">Editar</a>
                <a th:href="@{/disciplinas/excluir/{id}(id=${disciplina.idDisciplina})}">Excluir</a>
            </td>
        </tr>
    </table>
    
</body>
</html>