<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema EtecFer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="bg-dark">

    <nav class="navbar navbar-expand-lg bg-danger shadow">
        <div class="">
            <h1 style="text-align: center;">🎓 Sistema Etec</h1>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row g-4">

            <div class="col-md-6">
                <a href="/alunos/listar" class="text-decoration-none text-dark">

                    <div class="card shadow-sm border-0 h-100">
                        <div class="card-body text-center">

                            <h1>👨‍🎓</h1>

                            <h4>Alunos</h4>

                            <p class="text-muted">
                                Gerenciar alunos cadastrados.
                            </p>

                        </div>
                    </div>

                </a>
            </div>

            <div class="col-md-6">
                <a href="/cursos/listar" class="btn btn-info">
                    📚 Gerenciar Cursos
                </a>
            </div>

            <div class="col-md-6">
                <a href="/professores/listar" class="btn btn-info">
                    👨‍🏫 Gerenciar professores
                </a>
            </div>

            <div class="col-md-6">
                <a href="/disciplinas/listar" class="btn btn-info">
                    📖
                    Gerenciar disciplinas
                </a>
            </div>
        </div>
    </div>

</body>

</html>